

<div id="chatWindow">
<div id="chatContent"></div>

</div>

<div style="position: absolute; bottom: 0px; width: 100%; padding-top: 10px; padding-bottom: 10px; text-align: center; background: rgb(15, 15, 15); border-top: 1px solid rgb(43, 43, 43);">
	<input type="text" id="txtBoxChat" style="width: 250px; vertical-align: bottom; margin-right: 20px;" />
	<button type="button" id="chatEnterBtn" class="myButton">Enter</button>
</div>
