<div id="playerNameContainer">
	<span style="padding-right: 6px;">player:</span><span id="playerName"></span>
</div>
<span id="lobbyHeaderTitle">Lobby</span>
<div id="createGameRoomContainer">
	<input id="txtRoomName" class="txtNameInput" type="text" placeholder="room name" />
	<button id="btnCreateRoom" class="myButton" style="margin-left: 10px;">create new room</button>
</div>

<div id="lobbyWrapper">
	<div id="roomListContainer">
		<div style="color: black;">game rooms: </div>
		<span id="clientIdContainer"></span>
		<ul id="roomList"></ul>
	</div>
</div>
<div id="roomWrapper">
	@Html.Partial( "_RoomView" )
</div>


@*<input type="checkbox" checked="checked" id="bgSwitchChkBox" /><span id="bgSwitchSpan" style="color: white;">  light map background</span>*@





