<div id="granadeIconContainer" style="position: absolute; top: 3px; left: 3px; padding:1px; " onclick="GAME.playerMenu.weapons.pinecomb.selectPinecomb();">
	<img src="~/Images/Icons/Weapons/granade-weapon-icon.png" />
</div>
<div id="turretIconContainer" style="position: absolute; bottom: 6px; left: 6px; height:35px; width:35px; background:orange;" onclick="GAME.playerMenu.buildings.turret.selectTurret();">
</div>