<div class="rightSideDisplayPanel" id="smallGranadeIcon" style="display:none;">
	<img src="~/Images/Icons/Military-Grenade-icon-small-white.png" alt="granade-icon" width="30px" height="30px" style="position: relative;"/>
</div>
<div class="rightSideDisplayPanel">
	<img src="~/Images/Icons/heart.png" alt="health" style="position: relative; top: 2px;" />
	<div id="healthPointsContainer">150</div>
</div>
<div class="rightSideDisplayPanel">
	<img src="~/Images/Icons/bullets-icon.png" alt="ammo" style="position: relative; top: 2px;" />
	<div id="ammunitionPointsContainer">0</div>
</div>
<div class="rightSideDisplayPanel">
	<div style="height: 20px; width: 20px; background: #11B26B; display: inline-block; position: relative; top: 4px;"></div>
	<div id="specialTilePointsContainer">0</div>
</div>
