@{
    ViewBag.Title = "Home Page";
}

<div style="overflow:hidden;">
    <div id="leftSideContainer">
        
    </div>
    <div id="mapContainer">
        <canvas id="mapCanvas" width="500" height="500">
    </div>
</div>

<script type="text/javascript">

    DrawPattern();

    



</script>
