@{
    ViewBag.Title = "Home Page";
}

<div style="overflow:hidden;">
    <div id="leftSideContainer">
        
    </div>
    <div id="mapContainer">
        <canvas id="mapCanvas" width="501" height="501">
    </div>
</div>

<script type="text/javascript">
    var ctx = document.getElementById("mapCanvas").getContext("2d");

  drawMapTiles(ctx, 12, 12, 40); 


</script>
