
<div id="mainContainer">
	<section class="topHeader">
	<div style="display:inline-block; margin-top:20px;font-size:16px;color:rgb(204, 255, 0);">Color Factory</div>	<div style="display:inline-block; margin-top:20px;font-size:11px;color:rgb(206, 255, 103);">powered by: Html5 + ASP.NET SignalR</div>
		<div style="float: right; margin-right: 30px;margin-top:20px;">
			<span id="playerNameSpan" style="padding-right:20px;"></span><span style="color: gray;">points: </span>
			<span id="ammunitionPointsContainer"></span>

		</div>
	</section>

	<div id="lobbyContainer">
		@Html.Partial("_LobbyView")
	</div>

	<div id="setPlayerNameModalBox">
		@Html.Partial("_SetPlayerNameModalBox")
	</div>

	<div id="leftSideContainer">
		<div id="btnEnterLobby" class="myButton">Lobby</div>


	</div>

	<div id="playerCanvasContainer">
		<canvas id="playerCanvas" width="50" height="50" />
	</div>
	<div id="enemyCanvasContainer">
		<canvas id="enemyCanvas1" width="50" height="50" />
		<canvas id="enemyCanvas2" width="50" height="50" />
		<canvas id="enemyCanvas3" width="50" height="50" />
	</div>

	<div id="mapContainer">
		<canvas id="mapCanvas" width="500" height="500" />
	</div>

	<div id="effectsCanvasContainer">
		<canvas id="effectsCanvas" width="500" height="550" />
	</div>

	<section class="bottomSection">

		<div id="textDiv">
			<span>players online: </span><span id="spanPlayersOnline"></span>
		</div>
		<ul id="homePlayersOnlineList"></ul>

	</section>
</div>

<script type="text/javascript">

	////////////////////////////////////////////////////////////////////////////
	//global variables
	////////////////////////////////////////////////////////////////////////////
	var ctx = document.getElementById("mapCanvas").getContext("2d");
	var $mapCanvas = $("#mapCanvas");

	var effectsCtx = document.getElementById("effectsCanvas").getContext("2d");
	var $effectsCanvas = $("#effectsCanvas");

	var playerCtx = document.getElementById("playerCanvas").getContext("2d");
	var playerCanvas = document.getElementById("playerCanvas");

	var enemyCtx1 = document.getElementById("enemyCanvas1").getContext("2d");
	var enemyCanvas1 = document.getElementById("enemyCanvas1");

	var enemyCtx2 = document.getElementById("enemyCanvas1").getContext("2d");
	var enemyCanvas2 = document.getElementById("enemyCanvas1");

	var enemyCtx2 = document.getElementById("enemyCanvas2").getContext("2d");
	var enemyCanvas2 = document.getElementById("enemyCanvas2");

	var enemyCtx3 = document.getElementById("enemyCanvas3").getContext("2d");
	var enemyCanvas3 = document.getElementById("enemyCanvas3");

	var $playerCanvasContainer = $("#playerCanvasContainer");
	var $enemyCanvasContainer = $("#enemyCanvasContainer");

	var mainContainer = document.getElementById("mainContainer");


	//HUB START/////////////////////////////////////////////////////////////////////////////////////
	$.connection.hub.logging = true;
	$.connection.hub.start().done(function () {
		myClientId = $.connection.hub.id;
	}).fail(function () {
		alert("Could not Connect!");
	});
	////////////////////////////////////////////////////////////////////////////////////////////////

	gameConnection = $.connection.game;	
	lobbyConnection = $.connection.lobby;

	////////////////////////////////////////////////////////////////////////////////////////////////
	//lobby functions
	////////////////////////////////////////////////////////////////////////////////////////////////

	lobbyConnection.client.clientReceiveRoomCreated = function (roomName) {
		player.room = roomName;
		$('#roomList').append('<li name="' + roomName + '">' + roomName + '<div class="playerCircle circleEmpty"></div><div class="playerCircle circleEmpty"></div><div class="playerCircle circleEmpty"></div><div class="playerCircle circleFullPlayerNotReady"></div></li>');
	};

	$("#btnEnterLobby").click(function () {
		lobbyConnection.server.serverBroadcastPlayerEnterLobby();
	});

	lobbyConnection.client.clientReceivePlayerEnterLobby = function (list) {
		$('#roomList').empty();
		$(list).each(function (i, el) {
			$('#roomList').append('<li name="' + el + '">' + el + '<div class="playerCircle circleEmpty"></div><div class="playerCircle circleEmpty"></div><div class="playerCircle circleEmpty"></div><div class="playerCircle circleFullPlayerNotReady"></div></li>');
		});
		$("#lobbyContainer").show();
	}

	$(".btnCloseLobby").click(function () {
		$("#lobbyContainer").hide();
	});

	$("#btnCreateRoom").click(function () {
		var $txt = $("#txtRoomName");
		var roomName = $txt.val().trim();
		if (roomName)
			lobbyConnection.server.serverBroadcastCreateRoom(roomName);
		$txt.val("");
	});

	$("#btnBackToLobby").click(function () {
		$("#lobbyHeaderTitle").text("Lobby");
		$("#roomWrapper").hide();
		$("#lobbyWrapper").show();
	});

	$("#roomList").on("click", "li", function () {
		var theRoom = $(this).attr("name");
		$("#lobbyHeaderTitle").text(theRoom);
		$("#playerListInsideRoom li span").text("").prev().removeClass("circleFullPlayerNotReady").addClass("circleEmpty");
		$("#lobbyWrapper").hide();
		$("#roomWrapper").show();
		lobbyConnection.server.serverBroadcastPlayerEnterRoom(theRoom);
	});

	lobbyConnection.client.clientReceivePlayerEnterRoom = function (playerNamesList) {
		var $span, $circle, $tick, player, seat;

		$('#playerListInsideRoom li').find('img').attr('src', 'Images/Lobby/successGray.png');

		for (var i = 0; i < playerNamesList.length; i++) {
			player = playerNamesList[i];
			seat = player.SeatNumber;
			$li = $('#playerListInsideRoom li[seatNumber="' + seat.toString() + '"]');
			$span = $li.find("span");
			$circle = $span.prev();

			if (player.IsReady === true) {
				$span.css("color", "rgb(10,211,122)");
				$circle.removeClass("circleFullPlayerNotReady circleEmpty").addClass("circleFullPlayerReady");
				$li.find('img').attr('src', 'Images/Lobby/success.png');
			}
			else {
				$span.css("color", "rgb(238,68,68)");
				$circle.removeClass("circleFullPlayerReady circleEmpty").addClass("circleFullPlayerNotReady");
				$li.find('img').attr('src', 'Images/Lobby/successGray.png');
			}

			$span.text(player.Name);

		}
	};

	$(document).on("click", "#playerListInsideRoom .circleEmpty", function () {
		var $theCircle = $(this);
		var theRoom = $("#lobbyHeaderTitle").text();

		player.room = theRoom;

		var seatNumber = parseInt($theCircle.parent().attr("seatNumber"));
		lobbyConnection.server.serverBroadcastPlayerTakeSeat(player.room, seatNumber);
	});

	lobbyConnection.client.clientReceivePlayerTakeSeat = function (playerNamesList) {
		var $span, $circle, $tick, player, seat;

		for (var i = 0; i < playerNamesList.length; i++) {
			player = playerNamesList[i];
			seat = player.SeatNumber;
			$li = $('#playerListInsideRoom li[seatNumber="' + seat.toString() + '"]');
			$span = $li.find("span");
			$circle = $span.prev();

			if (player.IsReady === true) {
				$span.css("color", "rgb(10,211,122)");
				$circle.removeClass("circleFullPlayerNotReady circleEmpty").addClass("circleFullPlayerReady");
				$li.find('img').attr('src', 'Images/Lobby/success.png');

			}
			else {
				$span.css("color", "rgb(238,68,68)");
				$circle.removeClass("circleFullPlayerReady circleEmpty").addClass("circleFullPlayerNotReady");
				$li.find('img').attr('src', 'Images/Lobby/successGray.png');

			}
			$span.text(player.Name);
		}
	};

	//on player ready click/////////////////////////////////////////////////////////////////////////////////////////////////

	$(document).on("click", "#playerListInsideRoom li img", function () {
		$img = $(this);
		var theRoom = $("#lobbyHeaderTitle").text();
		var seatNumber = parseInt($img.parent().attr("seatNumber"));
		lobbyConnection.server.serverBroadcastPlayerIsReady(theRoom, seatNumber);
	});

	lobbyConnection.client.clientReceivePlayerIsReady = function (seatNumber) {
		var $li = $('#playerListInsideRoom li[seatNumber="' + seatNumber.toString() + '"]');
		$li.find('img').attr('src', 'Images/Lobby/success.png').next().removeClass("circleFullPlayerNotReady").addClass("circleFullPlayerReady").next().css("color", "rgb(10,211,122)");
	};

	lobbyConnection.client.clientReceivePlayerIsNotReady = function (seatNumber) {
		var $li = $('#playerListInsideRoom li[seatNumber="' + seatNumber.toString() + '"]');
		$li.find('img').attr('src', 'Images/Lobby/successGray.png').next().removeClass("circleFullPlayerReady").addClass("circleFullPlayerNotReady").next().css("color", "rgb(238,68,68)");
	};

	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	//start game, begin in Lobby Hub then communicate to Game Hub from now on throughout the game session
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	lobbyConnection.client.clientReceiveInitializeGame = function (name) {
		gameConnection.server.serverBroadcastStartGameFromGameHub(name);
	}
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	//ERROR messages
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	lobbyConnection.client.clientReceivePlayerEnterRoomErrorPlayerAlreadyInARoom = function () {
		alert("You already took a seat in a room. You need to leave the room you are sitting at in order to sit down here.");
	}

	lobbyConnection.client.clientReceivePlayerCreateRoomErrorPlayerIsAlreadyAdmin = function () {
		alert("You are already an admin of a room. You need to leave your room in order to create a new one.");
	}

	lobbyConnection.client.clientReceiveSpecifiedRoomDoesNotExist = function (roomName) {
		alert("Game room: " + roomName + " does not exist.")
	};

	////////////////////////////////////////////////////////////////////////////////////////////////////
	//Home Functions
	////////////////////////////////////////////////////////////////////////////////////////////////////

	// Create connection

	$("#btnEnterPlayerName").click(function () {
		var playerName = $("#txtPlayerName").val();
		$("#playerNameSpan").text(playerName);

		var player = { name: playerName, connectionId: myClientId };

		lobbyConnection.server.serverBroadcastAddPlayerToPlayerCollection(player);

		$("#setPlayerNameModalBox").hide();

	});

	lobbyConnection.client.clientReceiveOnDisconnect = function (name, count) {
		var $list = $("#homePlayersOnlineList");
		var $node = $list.find("li:contains(" + name + ")");
		$node.remove();
		$('#spanPlayersOnline').html(count);
	};

	lobbyConnection.client.clientReceiveAddPlayerToPlayerCollection = function (count, name) {	
			for (var i = 0; i < name.length; i++) {
				$("#homePlayersOnlineList").append("<li>" + name[i] + "</li>");
			}
		
		$('#spanPlayersOnline').html(count);
	};

	lobbyConnection.client.clientReceivePlayerLeaveSeat = function (roomName, seatNumber) {
		if ($("#lobbyHeaderTitle").text() == roomName) {
			var $li = $('#playerListInsideRoom li[seatNumber="' + seatNumber.toString() + '"]');
			var $circle = $li.find(".playerCircleInsideRoom").removeClass("circleFullPlayerNotReady").addClass("circleEmpty");
			$circle.next().css("color", "rgb(238,68,68)").text("");
			$circle.prev().attr("src", "Images/Lobby/successGray.png");
		}
	};

	lobbyConnection.client.clientReceiveAdminLeaveSeat = function (roomName) {
		alert("Admin has left your room. Game room: " + roomName + " is now closed so please find another room.");
		$('#roomList li[name="' + roomName + '"]').remove();
		if ($("#lobbyHeaderTitle").text() == roomName) {
			$("#lobbyHeaderTitle").text("Lobby")
			$("#roomWrapper").hide();
			$("#lobbyWrapper").show();
		}
	};
</script>

<script src="~/Scripts/Models/Map.js" type="text/javascript"></script>
<script src="~/Scripts/Models/Players.js" type="text/javascript"></script>
<script src="~/Scripts/Models/Effects.js" type="text/javascript"></script>
<script src="~/Scripts/Models/Settings.js" type="text/javascript"></script>
<script src="~/Scripts/Models/Cursor.js" type="text/javascript"></script>
<script src="~/Scripts/Models/Game.js" type="text/javascript"></script>
<script src="~/Scripts/functions.js" type="text/javascript"></script>

<script type="text/javascript">

	$(function () {
		var SETTINGS = new Settings();
		var CURSOR = new Cursor();
		var EFFECTS = new Effects();

		
		var player = new Player("Images/TileSheet/tileSheetGreenPlayer.png");
		

		var GAME = new Game(SETTINGS, CURSOR,EFFECTS, MAP, player);

		GAME.initialize();
		GAME.onGameStart();

	});
</script>
